*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    /* google font family */
    font-family: 'Alegreya SC', serif;
    /* background-color: black; */
    background-repeat: no-repeat;
}
#start{
    height: 100vh;
    width: 100%;
    background-color: black;
    background-image: url(/assets/img/robotics_instruct.svg);
    background-size: contain;
    background-position: right;
}
#start .navbar nav{
    display: flex;
    align-items: right;
    justify-content: space-between;
    padding: 2rem 1rem;
    /* background-color: red; */
}
#start .navbar .logo{
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 00.5s;
}
#start .navbar .logo:hover{
transform: scale(1.2);
}
#start span{
    color: red;
}
#start .navbar ul li{
    list-style-type: none;
    display: inline-block;
    padding: 1rem 2rem;
}
#start .navbar ul li a{
    color: white;
    text-decoration: none;
    font-weight: 400;
}
#start .navbar ul li a:hover{
    color: red;
    transition: 0.5s;
}
#start .navbar #btn{
    background-color: red;
    color: white;
    text-decoration: none;
    border: 1px transparent;
    font-weight: 700;
    font-size: larger;
    padding: 18px 28px;
    border-radius: 40px;
    transform: 0.5s;
}
#start .navbar #btn:hover{
    transform: scale(1.2);
}
#start .madeby{
    position: absolute;
    top: 30%; 
    left: 5%;
    trasform: translateY(-30%)
}
#start .madeby h1{
    color: rgb(242, 226, 226);
    margin: 20px 0px 20px;
    font-size: 75px;
}
#start .madeby p{
    color: rgb(176, 176, 176);
    padding-left: 40px;
    margin: 20px 0px 20px;
    font-size: 25px;
}
#start .madeby .newsl form{
    width: 380px;
    max-width: 100%;
    position: relative;

}